body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Kanit" , "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffefc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Kanit";
  src: url("./styles/font/Kanit-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Kanit";
  src: url("./styles/font/Kanit-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Kanit";
  src: url("./styles/font/Kanit-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Kanit";
  src: url("./styles/font/Kanit-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Kanit";
  src: url("./styles/font/Kanit-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Kanit";
  src: url("./styles/font/Kanit-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Kanit";
  src: url("./styles/font/Kanit-Regular.ttf") format("truetype");
}